[user]
	name = Shuhei Akutagawa
	email = shuhei.akutagawa+github@gmail.com
[init]
	defaultBranch = main
[pull]
	ff = only

[include]
	path = .gitconfig.local

[includeIf "gitdir:~/ghq/github.com/newspicks/"]
	path = ~/ghq/github.com/newspicks/.gitconfig
[includeIf "gitdir:~/ghq/github.com/alpdr/"]
	path = ~/ghq/github.com/alpdr/.gitconfig
